#ignore vscode tempfiles
__latexindent_temp.tex
*.fdb_latexmk
*.fls

# ignore lyx tempfiles
*.lyx~
*.~lyx
*.lyz~
*.lyx#

# ignore folders and python pyc
*.pyc
*-checkpoint.ipynb
__pycache__

# ignore mac and windows system files
.DS_Store
thumbs.db

# ignore backupfiles
*.bak
*.sav

# ignore .out files and folders, include latex.out fold
*.out
# ignore latex temp files
*.aux
*Notes.bib
*.bbl
*.synctex*
*.blg
*.log
*.synctex(busy)

# ignore office temp files
~$*
~*.tmp