# ignore lyx temp files

*.tmp
*.lyx~
*.lyx#
*.#lyx#
*.#lyx

# tex temp files

*.sav
*.log
*.blg
*.aux
*.bbl
*.out
*.bak
*Notes.bib
*.synctex.gz

# office temp files

~$*

# ignore python temp files

.ipynb_checkpoints

# ignore .pyc files we do not need to sync
*.pyc
*.pyd
*.o

# ignore tmp files for temp use
*.tmp

# ignore sublime workspace file
*.sublime-workspace

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
